<p>Hi {{fname}},</p>
<p>Thank you for reaching out to the yourcompanyname team. I have received your Buying Interest Inquiry and I am happy to show how yourcompanyname could help you grow your business.</p>

<p>Let me know your questions, or if you prefer, you can schedule a meeting using <a href="https://www.yourdomain.com/l/meet-chetan/" target="_blank">https://www.yourdomain.com/l/meet-chetan/</a> to explore tailored strategies to help you grow your Customer Base.</p>

<p>Best regards,<br />
Chetan Jain</p>