<p>
Hi {{fname}},<br/>
This is Chetan from yourcompanyname. I am reaching out to you as you have shown interest in using our Lead Generation Software to find potential customers.<br/><br/>
    
I'd like to arrange a meeting with you to discuss specific strategies that can help you increase your customer base.<br/><br/>
    
Do visit <a
    href="https://www.yourdomain.com/l/meet-chetan/"
    target="_blank"
    >https://www.yourdomain.com/l/meet-chetan/</a> to schedule a meeting with me.<br/><br/>
    
Regards,<br/>
Chetan Jain<br/>
</p>