<p>Hi {{fname}},</p>

<p>Thank you for reaching out to the yourcompanyname team. I have received your inquiry and I am happy to discuss your requirements further. Could you kindly provide me with your availability, so that we can schedule a call at your convenience?</p>

<p>I am looking forward to speaking with you! If you have 10 minutes to spare, do let me know. Alternatively, you can press the link below to select a time on my calendar that works best for you.</p>

<p><a href="https://www.yourdomain.com/l/meet-chetan/" target="_blank">https://www.yourdomain.com/l/meet-chetan/</a></p>

<p>Best regards,<br />
Chetan Jain</p>