<p>Hi {{fname}},</p>

<p>Thank you for your interest in Product Demo of yourcompanyname. I would be more than happy to provide you with a product demo and discuss how yourcompanyname could specifically help grow your business.</p>

<p>To book a meeting with me, please visit <a href="https://www.yourdomain.com/l/meet-chetan/" target="_blank">https://www.yourdomain.com/l/meet-chetan/</a> and select a time that works best for you. I will be happy to walk you through the software and answer any questions you may have.</p>

<p>I look forward to speaking with you and showing you how yourcompanyname can help grow your Customer Base.</p>

<p>Best regards,<br />
Chetan Jain</p>